In [1]:
%load_ext autoreload
%autoreload 2

import os, sys
import matplotlib.pyplot as plt

sys.path.append('../')

from healthy_gym.environments.income import *

In [2]:
data_path = '../data/income'
env_path = 'models/income_environment.pkl'

if os.path.isfile(env_path) and False:
    e = IncomeEnvironment.load(env_path)
else:
    e = IncomeEnvironment(data_path=data_path)
    e.save(env_path, overwrite=True, make_dirs=True)

Loading Income data... Elapsed: 0.41s
Fitting Income ARM...Elapsed: 14.22s

In [3]:
e.n_buffer = 1000
e.model_.transf_.time_ = 0
cs = e.reset()
print('Time spent transforming data: ', e.model_.transf_.time_)

Resetting environment...Elapsed: 6.97s
Time spent transforming data:  1.7911574840545654

In [4]:
e.buffer_

,native-country,sex,race,age,education,workclass,occupation,marital-status,relationship,capital-net,hours-per-week,education-num,outcome_No Training,outcome_Evening course,outcome_Day course,outcome_Full-time studies
0,United-States,Male,White,47.0,Bachelors,Private,Tech-support,Divorced,Not-in-family,-0.0,18.0,13,22394.0,22398.0,20251.0,20859.0
1,United-States,Male,White,24.0,11th,Private,Handlers-cleaners,Never-married,Own-child,-0.0,80.0,7,63133.0,63134.0,62379.0,107174.0
2,United-States,Male,White,49.0,HS-grad,Private,Craft-repair,Married,Husband,0.0,14.0,9,27687.0,27688.0,23706.0,28824.0
3,United-States,Male,White,44.0,HS-grad,Private,Sales,Married,Husband,0.0,61.0,9,119259.0,119266.0,101404.0,83324.0
4,United-States,Female,White,61.0,HS-grad,Private,Farming-fishing,Married,Wife,0.0,15.0,9,89296.0,89300.0,80135.0,90467.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,United-States,Female,White,38.0,Bachelors,Self-emp-not-inc,Other-service,Married,Wife,-0.0,28.0,13,75219.0,75222.0,65516.0,82730.0
996,United-States,Female,Asian-Pac-Islander,23.0,Some-college,Private,Sales,Never-married,Not-in-family,-0.0,21.0,10,279097.0,279097.0,279097.0,279097.0
997,United-States,Male,White,36.0,Masters,Private,Prof-specialty,Never-married,Not-in-family,0.0,22.0,14,16306.0,16306.0,16306.0,16306.0
998,United-States,Male,White,31.0,9th,Private,Sales,Married,Husband,-0.0,27.0,5,18202.0,18202.0,18202.0,15921.0
999,United-States,Female,White,55.0,HS-grad,Private,Machine-op-inspct,Divorced,Own-child,-0.0,40.0,9,30267.0,30268.0,26115.0,28160.0

In [5]:
_, r, _, info = e.step('No Training')
print(r)

22394.0